{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
		<title>{{anime.title}}</title>
        {% include "MoeList/header.html" %}
	</head>
    <body>
		<header class="main-header">
			{% include "MoeList/navbar.html" %}
		</header>
      <div class="container-fluid">
		{% if banner %}
		<div class="anime-cover" style="background-image: url('{% static banner %}');">
			<img src="{% static banner %}" alt="{{anime.title}} cover" class="cover-helper">
		</div>
		{% endif %}
		<header class="anime-header">
			<div class="title-wrapper">
				<div class="poster-wrapper">
					<div class="anime-poster">
						<img  alt="Poster of {{anime.title}}" src="{% static cover %}">
					</div>
				</div>
				<h1 class="is-lighting">{{anime.title}}</h1>
				{% if anime.titleJp is not None %}<h2>{{anime.titleJp}}</h2>{% endif%}
			</div>
		</header>
		<div class="nav-wrapper">
			<ul class="nav nav-pills" role="tablist">
				<li class="nav-item">
					<a class="nav-link" data-toggle="pill" href="#summary">Summary</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="pill" href="#relations">Relations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="pill" href="#options">Options</a>
				</li>
				{% if mal is not None %}<li class="nav-item">
					<a class="nav-link active" data-toggle="pill" href="#myanimelist">MyAnimeList</a>
				</li>{% endif %}
			</ul>
		</div>
		<div class="anime-content">
			<div class="bg tab-content">
				<div id="summary" class="tab-pane anime-detail anime-3244 row">
					<div class="col-sm-8 anime-summary">
						<div class="anime-synopsis" style="max-height: 265px;">{{ anime.description|safe }}</div>
						<div id="synopsis-read-more" style="display:none;" class="synopsis-read-more" onclick="$(this).prev().css('max-height', ''); $(this).hide()"><p class="mx-auto">Read More</p></div>
					</div>
					<div class="col-sm-4 anime-info">
						{% if anime.nextEp is not None %}<p><strong>Next Ep: </strong> Ep {{anime.nextEp.episode}} in <span time="{{anime.nextEp.airingAt}}" class="animetime"></span></p>{% endif %}
						<p><strong>Synonyms: </strong> {{anime.titleEn}}</p>
						{% if mal_scores.0 is not None %}<p><strong>MAL Score: </strong> {{mal_scores.0}}</p>{% endif %}
						{% if mal_scores.1 is not None %}<p><strong>Your Score: </strong> {{mal_scores.1}}</p>{% endif %}
						<p><strong>Type:</strong> <a href="{% url 'MoeList:update_options' 'typ' anime.type%}" title="{{anime.type}}"> {{anime.type}}</a></p>
						<p><strong>Episode:</strong>{% if anime.episodes is not None %}{{anime.episodes}}{% else %} ?? {% endif %}</p>
						<p><strong>Status:</strong><a href="{% url 'MoeList:update_options' 'status' anime.status %}" title={{anime.status}}"> {{anime.status}}</a></p>
						<p><strong>Season:</strong> <a href="{% url 'MoeList:update_options' 'season' anime.season %}" title="{{anime.season}}"> {{anime.season}}</a></p>
						<p><strong>Year:</strong> <a href="{% url 'MoeList:update_options' 'year' anime.year %}" title="{{anime.year}}"> {{anime.year}}</a></p>
						<p><strong>Anilist Id: </strong> {{anilist_id}}</p>
						<p><strong>External Links:</strong> 
							<a href="{% if anime.mal is not None %}https://myanimelist.net/anime/{{anime.mal}}{% else %}#{% endif %}" target="_blank">MyAnimeList</a>,
							<a href="{% if anime.animepahe_id is not None %}https://pahe.win/a/{{anime.animepahe_id}}{% else %}https://animepahe.com/api?m=search&l=8&q={{anime.title}}{% endif %}" target="_blank">Animepahe</a>,
							<a href="https://anilist.co/anime/{{anilist_id}}" target="_blank">Anilist</a>
						</p>
						<div class="anime-genre">
							<ul>
								{% for genre in anime.genres %}<li>
									<a href="{% url 'MoeList:update_options' 'genre' genre%}" title="{{genre}}">{{genre}}</a>
								</li>{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div id="relations" class="tab-pane anime-relation row">
					{% for relation in relations %}<div class="col-12 col-sm-6 col-xl-4">
						<h4><span>{{relation.relationType}}</span></h4>
						<div class="row">
							<div class="media col-12 col-sm-12">
								<a href="{% url 'MoeList:anime' relation.id %}" title="{{relation.title}}"><img class="d-flex mr-3 rounded " src="{% static relation.cover %}" alt="Poster of {{relation.title}}"></a>
								<div class="media-body">
									<h5><a href="{% url 'MoeList:anime' relation.id %}" title="{{relation.title}}">{{relation.title}}</a></h5>
									<strong><a href="" title="{{relation.type}}">{{relation.type}}</a></strong> - {{relation.episodes}} Ep ({{relation.status}})
									<br>
									<a href="" >{{relation.season}} {{relation.year}}</a>
								</div>
							</div>
						</div>
					</div>{% endfor %}
				</div>
				<div id="options" class="tab-pane anime-options row">
					<button class="btn delete-info" data-toggle="modal" data-target="#anime-delete-modal" style=" max-width:200px; margin:5px;">Delete this Anime</button>
					<a class="btn" href="{% url 'MoeList:watched_all' anilist_id %}" style="width: 100%; max-width:200px; margin:5px; border: 1px solid red; background-color: black; color: white;">Watched All</a>
					<a class="btn" href="{% url 'MoeList:reload_info' anilist_id %}" style="width: 100%; max-width:200px; margin:5px; border: 1px solid red; background-color: black; color: white;">Reload info</a>
					<a class="btn" onclick="download_all();" style="width: 100%; max-width:200px; margin:5px; border: 1px solid red; background-color: black; color: white;">Downlo0ad</a>
				</div>
				{% if mal is not None %}<div id="myanimelist" class="tab-pane anime-options row  active">
					<div class="col-sm anime-info" style="background-color: rgba(0, 0, 0, 0.61);padding: 10px;">
						<select id="status-select" onchange="mal_data_update();">
							{% if mal.my_list_status.status is None %}<option value="None" selected="selected">Select Status</option>{% endif %}
							<option value="watching" {% if mal.my_list_status.status == "watching" %}selected="selected"{% endif %}>Watching</option>
							<option value="completed" {% if mal.my_list_status.status == "completed" %}selected="selected"{% endif %}>Completed</option>
							<option value="plan_to_watch" {% if mal.my_list_status.status == "plan_to_watch" %}selected="selected"{% endif %}>Plan to Watch</option>
							<option value="on_hold" {% if mal.my_list_status.status == "on_hold" %}selected="selected"{% endif %}>On Hold</option>
							<option value="dropped" {% if mal.my_list_status.status == "dropped" %}selected="selected"{% endif %}>Dropped</option>
						</select>
						<select id="score-select" onchange="mal_data_update();">
							<option value="0" {% if mal.my_list_status.score == 0 or mal.my_list_status.score is None  %}selected="selected"{% endif %}>Select Score</option>
							<option value="10" {% if mal.my_list_status.score == 10 %}selected="selected"{% endif %}>(10) Masterpiece</option>
							<option value="9" {% if mal.my_list_status.score == 9 %}selected="selected"{% endif %}>(9) Great</option>
							<option value="8" {% if mal.my_list_status.score == 8 %}selected="selected"{% endif %}>(8) Very Good</option>
							<option value="7" {% if mal.my_list_status.score == 7 %}selected="selected"{% endif %}>(7) Good</option>
							<option value="6" {% if mal.my_list_status.score == 6 %}selected="selected"{% endif %}>(6) Fine</option>
							<option value="5" {% if mal.my_list_status.score == 5 %}selected="selected"{% endif %}>(5) Average</option>
							<option value="4" {% if mal.my_list_status.score == 4 %}selected="selected"{% endif %}>(4) Bad</option>
							<option value="3" {% if mal.my_list_status.score == 3 %}selected="selected"{% endif %}>(3) Very Bad</option>
							<option value="2" {% if mal.my_list_status.score == 2 %}selected="selected"{% endif %}>(2) Horrible</option>
							<option value="1" {% if mal.my_list_status.score == 1 %}selected="selected"{% endif %}>(1) Appalling</option>
						</select>
						<p style="margin-top: 4px;"><strong>Ep: </strong><input id="ep-select" onchange="mal_data_update();" type="number" min="0"{% if mal.num_episodes != 0 %} max="{{mal.num_episodes}}"{% endif %} value="{{mal.my_list_status.num_episodes_watched|default:0}}">/{{mal.num_episodes}}</p>
						<p><strong>Duration: </strong> {{mal.average_episode_duration}}</p>
						<p><strong>Score: </strong> {{mal.mean}} ({{mal.num_scoring_users}} users)</p>
						<p><strong>Popularity: </strong> {{mal.popularity}}</p>
						<p><strong>Ranking: </strong> {{mal.rank}}</p>
						<p><strong>Rating: </strong> {{mal.rating|upper}}</p>
						<p><strong>Source: </strong> {{mal.source|title}}</p>
						<p><strong>Members: </strong> {{mal.num_list_users}}</p>
						<p><strong>Status: </strong> {{mal.status|title}}</p>
						<p><strong>Studios: </strong> {% for studio in mal.studios %}<span>{{studio.name}}</span>{% endfor %}</p>
					</div>
				</div>{% endif %}
			</div>
		</div>
		<div id="anime-delete-modal" class="modal fade">
			<div class="modal-dialog modal-dialog-centered"">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Delete this Anime?</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<p>It will delete info, not episodes.</p>
					</div>
					<div class="modal-footer">
						<form action="{% url 'MoeList:delete'%}" method="post">
							{% csrf_token %}
							<input type="hidden" name="anime_id" value="{{ anilist_id }}">
							<button id="deleteanimeforreal" type="submit" class="btn btn-danger" >Delete</button>
						</form>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancle</button>
					</div>
				</div>
			
			</div>
		</div>
		<div class="episode-bar row">
			<div class="col-6">
				<h2 class="is-lighting">Episodes</h2>
			</div>
		</div>
		<div class="episodes"><div class="spinner-border text-light" id="spinner" style="display:none; margin: 0px 11px -5px 11px;"></div>
					{{episodes}}
		</div>
		<!-- The Modal -->
		<div class="modal fade" id="deletePopUp">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
				
					<!-- Modal Header -->
					<div class="modal-header">
					<h4 class="modal-title">Delete file?</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<!-- Modal body -->
					<div class="modal-body">
					Delete <span id="file-delete-path"></span>?
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">
					<button id="deletefileforreal" type="button" class="btn btn-danger" >Delete</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancle</button>
					</div>
					
				</div>
			</div>
		</div>
	  </div>
		<style>
			#score-select {
				color: #ffffff;
				background-color: #00000069;
				padding: 1px;
			}
			#score-select>option {
				background-color: #000000d1;
			}
			#ep-select {
				color: white;
				width: 3.5rem;
				background-color: #00000069;
				border: 1px solid #767676;
				padding: 0;
				text-align: right;
			}
			input#ep-select::-webkit-inner-spin-button {
				//appearance: none;
			}
			#status-select {
				color: white;
				background-color: #00000069;
				padding: 1px;
			}

			#status-select>option {
				background-color: #000000d1;
			}
		</style>
		<script>
			/*function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = cookies[i].trim();
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			//var csrftoken = getCookie('csrftoken');*/
			var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
			//console.log(csrftoken);
			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});
			
			function delete_file(t, anilist_id){
				el = $(t).parent().prev();
				ep = Number(el.children().text());
				$.post("{% url 'MoeList:filepath' %}",
						{
							anilist_id: anilist_id,
							ep: ep
						},
						function(data,status){
							if(status == "success"){
								$("#file-delete-path").text(data);
								$("#deletefileforreal").unbind();
								$("#deletefileforreal").click(function(){
									$.post("{% url 'MoeList:fileDelete' %}",
										{
											anilist_id: anilist_id,
											ep: ep
										},
										function(data,status){
											if(status == "success"){
												el.addClass("deleted");
												$(t).addClass("disabled");
												$(t).siblings().addClass("disabled");
												$("#deletePopUp").modal("hide");
												console.log(data);
											} else {
												alert("Data: " + data + "\nStatus: " + status);
											}
										});
								});
								$("#deletePopUp").modal("show");
							} else {
								alert("Data: " + data + "\nStatus: " + status);
							}
					});
			}
			
			function visited(t){
				$(t).parent().prev().addClass('downloaded').removeClass('download');
			}
			
			$(document).ready(function(){
				$("#spinner").show();
				if($("#synopsis-read-more").prev().height() >= parseInt($("#synopsis-read-more").prev().css('max-height'), 10))
					$("#synopsis-read-more").show();
				$.get("{% url 'MoeList:animeDownloadableEpRefresh' anilist_id %}", function(data, status){
					$(".episodes").prepend(data);
					$("#spinner").remove();
				});
			});
			function file_handler(t, x, anilist_id, ep){
				url = "{% url 'MoeList:file_handler' %}";
				el = $(t).parent().prev();
				$.post(
					url,
					{
						anilist_id: anilist_id,
						ep: ep,
						method: x,
						text: $(t).text()
					},
					function(data,status){
						if(status == "success"){
							if(data["method"] == "toggle"){
								el.toggleClass("watched");
								el.toggleClass("new");
								$(t).text(data["response"]);
							} else if(data["method"] == "open"){
								console.log(data["response"]);
							}
							
						} else {
							console.log(data);
							console.log(status);
							alert("Data: " + data + "\nStatus: " + status);
						}
					}, 
					"json"
				);
			}
			
			function getAnimeLinks(t){
				if(t.getAttribute('loaded') == "false"){
					$.post("{% url 'MoeList:kwikLinkFromSession' %}",
						{
							anilist_id: t.getAttribute('anilist_id'),
							ep: t.getAttribute('ep'),
							anime_id: t.getAttribute('anime-id'),
							session: t.getAttribute('session')
						},
						function(data,status){
							t.parentElement.children[1].innerHTML = data;
							t.setAttribute('loaded', 'true');
							$(t).dropdown("toggle").dropdown("toggle");
					});
				}
			}
			
			function download_all(){
				els = $('.download').get().reverse();
				for(i=0; i<els.length; i++){
					if(els[i].getAttribute('loaded') == "false"){
						t = els[i];
						console.log("Start");
						$.post("{% url 'MoeList:kwikLinkFromSession' %}",
							{
								anilist_id: t.getAttribute('anilist_id'),
								ep: t.getAttribute('ep'),
								anime_id: t.getAttribute('anime-id'),
								session: t.getAttribute('session')
							},
							function(data,status){
								t.parentElement.children[1].innerHTML = data;
								t.setAttribute('loaded', 'true');
								$(t).dropdown("toggle");
								$(t).addClass('downloaded').removeClass('download');
								console.log("OO");
								dnld = window.open($(t).next().children().last().attr("href"), 'Download', 'width=200,height=200');
								console.log("??");
								if (dnld == null)
									alert("Null");
								else
									dnld.onbeforeunload = function(){download_all()};
								
						});
						console.log("End");
						break;
					}
				}
			}
			function mal_data_update(){
				var mal_id = {{mal.id}};
				if ($('#status-select').children()[0].value == "None") $('#status-select').children()[0].remove();
				console.log($('#status-select').val())
				console.log($('#score-select').val())
				console.log($('#ep-select').val())
				$.post("{% url 'MoeList:MALHandler' %}", 
				{
					id: mal_id,
					status: $('#status-select').val(),
					score: $('#score-select').val(),
					ep: $('#ep-select').val(),
				},
				function(data, status) {
					console.log(data);
					if (data != null){
						$("#status-select").val(data['status'])
						$("#score-select").val(data['score'])
						$("#ep-select").val(data['num_episodes_watched'])
					} else {
						console.log('failed');
					}
				},
				"json");
			}
			
			function twoDigit(vlu) {
				var tempvlu = Number(vlu);
				if (tempvlu / 10 < 1)
					return "0" + tempvlu;
				else
					return tempvlu;
			}
			function changeDate(){
				var d = new Date();
				var n = Math.round(d.getTime()/1000);
				$(".animetime").each(function(){
					var this_time = this.getAttribute("time") - n;
					var time_Text = "";
					if (Math.floor(this_time / 604800) > 0)
						time_Text += Math.floor(this_time / 604800) + "w ";
					if (Math.floor(this_time / 86400 % 7) > 0)
						time_Text += Math.floor(this_time / 86400 % 7) + "d ";
					time_Text += twoDigit(Math.floor(this_time / 3600 % 24)) + ":";
					time_Text += twoDigit(Math.floor(this_time / 60 % 60)) + ":";
					time_Text += twoDigit(Math.floor(this_time % 60));
					this.innerHTML = time_Text;
				});
			}
			setInterval(changeDate, 1000);
		</script>
	</body>
</html>