{% load static %}<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'MoeList/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'MoeList/style.css' %}">
		<link rel="icon" href="{% static 'MoeList/icon.jpg' %}">
		<link href="{% static 'MoeList/fontawesome/css/solid.css' %}" rel="stylesheet">
		<link href="{% static 'MoeList/fontawesome/css/fontawesome.css' %}" rel="stylesheet">
		<!--<link href="{% static 'MoeList/fontawesome/css/only.used.css' %}" rel="stylesheet">-->
		<script src="{% static 'MoeList/jquery.min.js' %}"></script>
		<script src="{% static 'MoeList/popper.min.js' %}"></script>
		<script src="{% static 'MoeList/bootstrap.min.js' %}"></script>
		<script src="{% static 'MoeList/masonry.pkgd.min.js' %}"></script>
		<script src="{% static 'MoeList/infinite-scroll.pkgd.min.js' %}"></script>